<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
  </head>
  <body>
    <!-- Documentation API -->
    <h1>Documentation API</h1>
    <p>This is a documentation for the API of the application. The API is accessible at the following address:</p>
    <blockquote>
      <p>For the following examples, we will use the following base URL:</p>
      <p>http://localhost:3000/api/</p>
    </blockquote>

    <h2>Players</h2>

    <p>GET /players</p>
    <p>GET /players/:id</p>

    <h2>Clubs</h2>

    <p>GET /clubs</p>
    <p>GET /clubs/:id</p>

    <p>GET /clubs/:id/players</p>

    <p>POST /clubs/:id</p>

    <p>PUT /clubs/:id</p>

    <p>DELETE /clubs/:id</p>
  </body>
</html>
